* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: grey;
}
/* NAV START*/
.header {
    padding: 20px;
    background-color: black;
    color: white;
}
.header h1 {
    display: inline-block;
    font-size: 48px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.header main {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.header main ul {
    list-style-type: none;
}

.header main ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/*NAV END */

.about-me-img {
    max-height: 500px;
    float: left;
    margin-right: 25px;
}
.content {
    width: 50%;
    display: inline-block;
    margin-left: 0px;
    margin-bottom: 20px;
    padding: 100px;
    height: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(41, 41, 41);
    color: #ffffff;
    height: 650px;
    width: 90%;
    margin-bottom: -10px;
    background-position:top;
}
h2 {
    font-size: 28;
}
p {
    font-size: 22px;
    font-style: normal;
}
/*My work CSS*/
.hori-img {
    max-width: 1000px;
    max-height: 1000px;
}

.my-work p {
    font-size: 1000px;
}
